<div class="row el-element-overlay">
  <div class="col-md-12">
    <h4 class="card-title">Información de mis Finanzas</h4>
    <h6 class="card-subtitle m-b-20 text-muted">A continuación puede ver toda la información de las finanzas, actualizar los datos, crear ingresos o egresos.</h6>
  </div>
  <div class="col-lg-12">
    <div class="card">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs profile-tab" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#credito" role="tab" aria-expanded="true">Información</a> </li>
        <li class="nav-item"> <a class="nav-link"  data-toggle="tab" href="#settings" role="tab" aria-expanded="false">Configuración</a> </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="credito" role="tabpanel" aria-expanded="true">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3 col-xs-6 b-r"> <strong>Perfil</strong>
                <br>
                <p *ngIf="finanza[0]?.admin_us == 'Y'" class="text-muted text-info">ADMINISTRADOR</p>
                <p *ngIf="finanza[0]?.admin_us == 'N'" class="text-muted">ASOCIADO</p>
              </div>
              <div class="col-md-3 col-xs-6 b-r"> <strong>Nombre</strong>
                <br>
                <p class="text-muted">{{finanza[0]?.nombre_us}}</p>
              </div>
              <div class="col-md-3 col-xs-6 b-r"> <strong>Teléfono</strong>
                <br>
                <p class="text-muted">{{finanza[0]?.telefono_us}}</p>
              </div>
              <div class="col-md-3 col-xs-6"> <strong>Estado cuenta</strong>
                <br>
                <p *ngIf=" finanza[0]?.estado_us == 1 " class="text-muted text-warning">ACTIVO</p>
                <p *ngIf=" finanza[0]?.estado_us == 0 " class="text-muted text-danger">INACTIVO</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-4 col-md-4">
                <small class="text-muted">Base financiera </small>
                <h6>{{ finanza[0]?.base_fina | currency: 'USD' }}</h6>
              </div>
              <div class="col-lg-4 col-md-4">
                <small class="text-muted">Fecha inicio </small>
                <h6>{{ finanza[0]?.fecha_fina | date: 'dd/MM/yyyy' }}</h6>
              </div>
              <div class="col-lg-4 col-md-4">
                <small class="text-muted">Base prestamos </small>
                <h6>{{ finanza[0]?.base_pres_fina | currency: 'USD' }}</h6>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4 col-md-4">
                <small class="text-muted">Ingresos </small>
                <h6>{{ valIngresos | currency: 'USD' }}</h6>
              </div>
              <div class="col-lg-4 col-md-4">
                <small class="text-muted">Egresos </small>
                <h6> {{ valEgresos | currency: 'USD' }} </h6>
              </div>
              <div class="col-lg-4 col-md-4">
                <small class="text-muted">Total acumulado </small>
                <h6> {{ totalAcumula | currency: 'USD' }} </h6>
              </div>
            </div>
            <br>

            <br><br>
            <div class="contBtn">
              <button type="button" routerLink="/dashboard/lista-ingresos" class="btn waves-effect waves-light btn-rounded btn-warning">Ver Ingresos</button>
              &nbsp;
              <button type="button" routerLink="/dashboard/lista-egresos" class="btn waves-effect waves-light btn-rounded btn-success">Ver Egresos</button>
              &nbsp;
              <button type="button" (click)="goBack()" class="btn waves-effect waves-light btn-rounded btn-danger">Volver</button>
            </div>
          </div>
        </div>

        <!-- <div class="tab-pane" id="settings" role="tabpanel" aria-expanded="false">
          <div class="card-body">
            <form  class="form-material m-t-40">

              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label>Monto del crédito</label>
                    <input type="number" formControlName="monto" class="form-control">
                    <p class="text-danger">*Monto requerido.</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label>Fecha de crédito </label>
                  </div>
                </div>
              </div>
    
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label>Plazo de crédito</label>
                    <input type="number" formControlName="plazo" class="form-control">
                    <p class="text-danger" >*Plazo requerido.</p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label>Valor cuota</label>
                    <input type="number" formControlName="valorcuota" class="form-control">
                    <p class="text-danger" >*Valor cuota requerido.</p>
                  </div>
                </div>
              </div>
    
              <div class="row">
                <div class="col-lg-8 col-md-8">
                  <div class="form-group">
                    <label>Comentario</label>
                    <textarea name="" formControlName="comentario" class="form-control" rows="2"></textarea>
                    <p class="text-danger" >*Comentario requerido.</p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="form-group">
                    <div class="demo-checkbox">
                      <input type="checkbox" formControlName="estado" id="md_checkbox_31" class="filled-in chk-col-light-green">
                      <label for="md_checkbox_31">Crédito activo <small class="text-muted">Puede inactivar el crédito si es pagado totalmente. </small></label>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="row">
                <div class="col-lg-12">
                  <button type="submit" class="btn waves-effect waves-light btn-rounded btn-info">Actualizar crédito</button>
                  &nbsp;
                  <button type="button" class="btn waves-effect waves-light btn-rounded btn-danger">Volver</button>
                </div>
              </div>
    
            </form>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>